.container {
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(15%);
}

.text-center {
  text-align: center;
}

.container a {
  text-decoration: none;
}

.d-flex-between {
  display: flex;
  justify-content: space-between;
}

.mt-5 {
  margin-top: 5%;
}

.mt-10 {
  margin-top: 10%;
}
